*{
  /* border: 1px solid black; */
  color:black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Upper_nav{
  display: flex;
  flex-direction: row ;
  align-items: center;
}
.heading{
  margin-left: 10%;
}
.phone{
  margin-left:40%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.location{
  margin-left:10px;
  display: flex;
  align-items: center;
  gap: 10px;
  
}
.Second_nav{
  margin-left: 10%;
  display: flex;
  align-items: center;
  gap: 10px;
  
}
.slides_phots{
  margin-left: 10%;
}
.img1{
  height: 650px;
  width: 1190px;
  margin-top: 2%;
  visibility:10px ;
  background-image: url(../Images/4433937.jpg);
  background-size: cover;
  mask-image:
    linear-gradient(to bottom, transparent 0%, black 60%),
    linear-gradient(to right, transparent 0%, black 60%);
    mask-composite: intersect;
    display: block;
}
.tonimg{
  position: absolute;
  top:250px;
  font-size: 45px;
  margin-left: 50px;
}