*{
  /* border: 1px solid black; */
  color:black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Upper_nav{
  display: flex;
  flex-direction: row ;
  align-items: center;
}
.heading{
  margin-left: 10%;
}
.phone{
  margin-left:40%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.location{
  margin-left:10px;
  display: flex;
  align-items: center;
  gap: 10px;
  
}
.Second_nav{
  margin-left: 10%;
  display: flex;
  align-items: center;
  gap: 30px;
  
}
.slides_phots{
  margin-left: 10%;
}
.img1{
  height: 650px;
  width: 100%;
  margin-top: 2%;
  visibility:10px ;
  background-image: url(../Images/4433937.jpg);
  background-size: cover;
  mask-image:
    linear-gradient(to bottom, transparent 0%, black 60%),
    linear-gradient(to right, transparent 0%, black 60%);
    mask-composite: intersect;
    display: block;
}
.tonimg{
  position: absolute;
  top:250px;
  font-size: 45px;
  margin-left: 50px;
}
.book_box{
  position: absolute;
  top: 400px;
  margin-left: 5%;
  padding: 20px;
  font-size: 15px;
  background-color: pink;
  border-radius: 25%;
  box-shadow: rgba(255, 0, 0, 0.653) 2px 4px 8px;
  font-weight: 900;
}
.book_box:hover{
  background-color: greenyellow;
  box-shadow: rgba(80, 80, 80, 0.788) 2px 4px 8px;
  z-index: 2;
}
/* .img1{
  height: 650px;
  width: 100%;
  margin-top: 2%;
  visibility:10px ;
  background-image: url(../Images/4433914.jpg);
  background-size: cover;
  mask-image:
  linear-gradient(to bottom, transparent 0%, black 60%),
  linear-gradient(to right, transparent 0%, black 60%);
  mask-composite: intersect;
  display: block;
  overflow-wrap: anywhere;
  } */
  .patta{
    position: absolute;
    top: 750px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: rgba(71, 3, 55, 0.8);
    opacity: 0.2px;
    justify-items: center ;
    align-items: center;
    text-align: center;
}
.box1{
padding: 10px;
color: wheat;
font-size: 20px;
position: flex;
}
.box1 h1{
  color: wheat;
  padding: 0;
  margin: 0;
}
.doct{
  margin-top:50px ;
  display: block;
  height:1000px;
  width: 100%;
  border: 1px solid red;
  /* display: flex; */
}
.headd{
  margin-left:800px ;
  font-size: 30px;
  margin-top: 100px;
  margin-right: 30px;
}
.dimg{
  /* border: 2px solid red; */
  margin: 100px;
  height: 800px;
  width: 600px;
  mask-image: -moz-linear-gradient();
  border-radius: 20px;
  position: absolute;
}
.wmb{
  display: flex;
  margin-top:50px ;
  height:1000px;
  width: 100%;
  /* border: 1px solid red; */
}
.one{
  /* border: 1px solid red; */
  height: 1000px;
  width: 50%;
  background-image:url(../Images/Gemini_Generated_Image_u588p7u588p7u588.png) ;
  background-size: cover;
  margin-left: 0px;
}
.one2{
  /* border: 1px solid red; */
  height: 1000px;
  background-color: pink;
  width: 50%;
  
}
.one3{
  /* border: 1px solid red; */
  height: 700px;
  width: 50%;
  background-color: rgb(77, 3, 3);
  position: absolute;
  left: 40%;
  top: 2100px;
  box-shadow: gray 10px 20px 40px;
}
.one3 h1{
  color: rgb(255, 255, 158);
  font-size: 38px;
  text-align: center;
  font-style: bold;
}
.one3 p{
  color: rgb(255, 255, 158);
  padding: 70px;
}
.as{
/* margin-top:50px ; */
height:1000px;
width: fit-content;
border: 2px solid gray;
padding: 200px;
padding-top: 200px;
display: flex;
flex-direction: row;
}
.t_on_as{
  height: fit-content;
  width: 70%;
  font-size: 15px;
  text-align: justify;
  border: 2px solid black;
}
.imgas{
  border: 2px solid black;
  width: 30%;
  height: 400px;
  }